type proc_baseband, fs_type;
type proc_bt_mac, fs_type;
type proc_kernel_sched, fs_type;
type vtnvfs_file, file_type;
type vtnvfs_boardid_file, file_type;
type vtnvfs_nvuser_file, file_type;
type vtnvfs_perm_file, file_type;
type vtnvfs_prdid_file, file_type;
type vtnvfs_blog_file, file_type;
